<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <!-- Container wrapper -->
    <div class="container ">

        <div class="collapse navbar-collapse d-flex gap-3 ">
            <a class="logo" href="/"><img src="/img/node-js-736399_640.png" alt="foto do nodejs"></a>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/categories">Categories</a>
                </li>
                <li>
                    <a class="nav-link" href="/admin/articles/new">Artigos</a>
                </li>
            </ul>

            <div class="d-flex align-items-center gap-2 ">

                <a class="btn btn-light" href="https://github.com/RamiroCyber/blog-node-express" target="_blank">
                    <img src="/img/github_original_wordmark_logo_icon_146506.png" alt="imagem do github"></a>

                <a class="btn btn-light" href="https://github.com/RamiroCyber/blog-node-express" target="_blank">
                    <img src="/img/github_original_wordmark_logo_icon_146506.png" alt="imagem do github"></a>
            </div>
        </div>

    </div>

</nav>